{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin-top:20vh">
    <div class="card-deck col-md-12 col-lg-12 col-xl-12 mb-4">
    {% for order in preparing_orders %}
    
        <div class="card p-5">
            <div class="card-title" style="border-bottom:1px solid black">
                {{order.order_id}} {{order.time_since_arrival}}
            </div>
            <div class="card-body" style="padding:0px;">
                <table>
                    <thead>
                        <th style="align-center">Quantity left</th>
                        <th>Dish Name</th>
                    </thead>
                
                    {%for o2d in order.ordertodishes_set.all %}
                        <tr>
                            <td>{{o2d.quantity_left}}</td>
                            <td class="align-right">{{o2d.dish}}</td>
                        </tr>

                    {%endfor%}
                </table>
            </div>

            <div class="card-footer" style="border-top:none; background : transparent">
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{%block extra_js%}
<script>

</script>
{%endblock%}