{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="margin-top:5vh">
    <div style="text-align:center" class="container">
        <h1 style="color:white; font-size:4em">Kitchen Display for {{shop}}</h1>
    </div>
    <div class="card-deck col-md-12 col-lg-12 col-xl-12 mb-4 mt-4">
        {% for i in 'aaaa' %}
        <div id="{{forloop.revcounter0}}" class="card p-4">
            <div id="card-header" class="row mb-3" style="font-size:1.2em;border-bottom:1px solid black">
                <div id="order_id" class="col-4 card-title" ></div>
                <div id="customer" class="col-4"></div>
                <div id="timer" class="col-4 timer" style="text-align:right"></div>
            </div>
            <div id="card-body" class="card-body" style="padding:0px;">
                <table id="dishes_table">
                </table>
            </div>

            <div id="card-footer" class="card-footer mt-5" style="background : transparent">
                <div id="arrival_time" style="font-weight:1.2em; text-align:right"></div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{%block extra_js%}
<script>
    var freshCommandBg = "#ffffff";
    var passed = 0;
    var timeDone = 0;
    // var audio = new Audio("{% static 'img/multimedia/new_order.mp3'%}");
    function reload_orders(){
        var dingdonged = false;
        $.get({
            url: "{% url "api:kitchen_display:siteGetCurrentPreparingOrders" shop.pk %}",
            success: function(data){
                $(".changed").css("color", "#000000")
                $(".changed").removeClass("changed")
                for (var x=0; x<data.length; x++){
                    var o2d = data[x]['dishes']


                    $("#"+x+" > #card-header > #order_id")[0].innerText = data[x]['order_id']
                    $("#"+x+" > #card-header > #customer")[0].innerText = data[x]['customer']
                    $("#"+x+" > #card-header > #timer")[0].innerText = data[x]['time_since_arrival']
                    $("#"+x+" > #card-footer > #arrival_time")[0].innerText = 'Arrival Hour :' + data[x]['arrival_hour']
                    if(data[x]['delayed']){
                        $("#"+x+" > #card-footer > #arrival_time").addClass("changed")
                    }
                    var MyTable = $("#"+x+" > #card-body > #dishes_table");
                    console.log(MyTable[0].rows.length)
                    MyTable.empty();
                    MyTable = MyTable[0]
                    var index = 0;
                    for(var y=0;y<o2d.length;y++){

                            NewRow = MyTable.insertRow(index);
                            index ++;
                            var cell_1 = NewRow.insertCell(0)
                            cell_1.innerHTML = o2d[y]['quantity_left'] + ' x ' // ' / ' + o2d[y]['quantity']
                            cell_1.className = 'kitchen_display_dishes'

                            var cell_2 = NewRow.insertCell(1)
                            cell_2.innerHTML = o2d[y]['dish']['name']
                            cell_2.className = 'kitchen_display_dishes'
                        if( o2d[y]['done'] ) NewRow.className += 'done'

                    }
                }
                for(var w=3; w>data.length-1;w--){
                    $("#"+w+" > #card-header > #order_id")[0].innerText = ""
                    $("#"+w+" > #card-header > #customer")[0].innerText = ""
                    $("#"+w+" > #card-header > #timer")[0].innerText = ""
                    $("#"+w+" > #card-body > #dishes_table")[0].innerText = ""
                    $("#"+x+" > #card-footer > #arrival_time")[0].innerText = ""
                }
            }
        });
    }
    $(document).ready(function(){
        reload_orders();
    })
    setInterval(  // timer
        function(){
            var timers = document.getElementsByClassName("timer")
            Array.prototype.forEach.call(timers, function(timer){
                if(timer.innerText != ''){
                    const today = new Date();
                    var time = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+" "+timer.innerText
                    const date = new Date(time);
                    date.setSeconds(date.getSeconds() + 1);
                    timer.innerText = ('00'+date.getHours()).slice(-2)+":"+('00'+date.getMinutes()).slice(-2)+":"+('00'+date.getSeconds()).slice(-2)
                }
                })

        }
    , 1000);
    setInterval(
        function(){
            if(document.getElementsByClassName("changed").length >0){
                $(".changed").css("webkitTransitionDuration", "0.5s");
                $(".changed").css("color", freshCommandBg);
                if(freshCommandBg === "red"){
                    freshCommandBg = "#ffffff";
                }
                else{
                    freshCommandBg = "red"
                };
            }

        }
    , 500)
    setInterval(
        function(){
            reload_orders();
        }
    , 5000)
</script>
{%endblock%}